.not_found {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.not_found .title {
    font-size: 6.2rem;
    font-family: BogleBold;
}

.not_found  .subtitle{
    font-size: 4rem;
    color: gray;
}
.not_found  .back{
    font-size: 4rem;
    color: blue;
}

