.main_horizontal {
    max-width: 1605px;
    height: 180px;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    padding: 1rem ;
   
}

.main_horizontal img {
    width: 100%;
    height: 180px;
}