.top_header {
  border-bottom: 3px double #000;
}


.header_main_logo {
  padding: 8px;
}

/* .header_main_logo .logo {
  background: url(/assets/images/logo.png);
  background-repeat: no-repeat;
  height: 40px;
  width: 108px;
  background-position: center;
  background-size: contain;
  position: relative;
}
.header_main_logo .logo::before {
  content: "";
  border-left: 1px solid #000;
  height: 30px;
  margin: .3rem;
  position: absolute;
  right: 0;
} */

.search_box {
  display: flex;
  position: relative;
  gap: 1px;
}
.search_box svg {
  position: absolute;
  top: 4px;
  cursor: pointer;
}
.search_box input {
  position: absolute;
  left: 22px;
  top: -2px;
  border-radius: 10px;
  border: 1px solid var(--color-primary);
  text-transform: uppercase;
  transition: all .4s;
}

.main_logo {
  width: 100%;
  height: 100px;
  cursor: pointer;
}

.main_logo img {
  width: 100%;
  height: 100%;
  padding: 0px 1rem;
}

.lang_nvigation {
  display: flex;
  gap: 3px;
  padding: 8px;
  justify-content: center;
}

.lang_nvigation li {
  cursor: pointer;
}

.login_subescript {
  display: flex;
  padding: 8px;
  justify-content: center;
}

.login_subescript .btn {
  text-transform: uppercase;
  border: 1px solid var(--color-primary);
  font-family: BogleBold;
  white-space: nowrap;
  margin: 0 1rem;
}

.login_subescript .btn:hover {
  background: var(--color-primary);
  color: #fff;
}

.cus_input {
  border-radius: 30px;
  border: 1px solid #ccc;
  color:#46474a;
  outline: 0;
  font-family: Bogle;
  padding: 3px;
}
.input-group:hover {
border-radius: 0px;
background: white;
}
.input-group {
  border-radius: 30px;
  display: flex;
  height: 38px;
}

.input-group .cus_input{
  border: 0;
  flex-grow: 1;
  padding: 3px;
  /* padding: 1.5rem 1rem ; */
}
.icon-container {
  border-radius: 100%;
  display: inline-flex;
  justify-self: center;
  align-items: center;
  background: #fff;
}

.header_items .item {
  text-transform: uppercase;
  border: 1px solid var(--color-primary);
  font-family: BogleBold;
  white-space: nowrap;
 
}

.icon-container-icon {
  margin: 4px;
  background: yellow;
  padding: 4px;
  border-radius: 50%;
}
.sub_items {
  background: var(--color-secondary);
  border-radius: 10px;
  position: absolute;
  top: 40px;
  display: none;
  z-index: 9999;
}
.sub_items li {
  cursor: pointer;
  color: black;
}