.main_swiper {
    padding: 8px;
}
.main_swiper .main_swiper_img{
    width: 100%;
    border-radius: 10px;
}

.swiper_img {
    position: relative;

}

.main_swiper .main_swiper_text {
    position: absolute;
    bottom: 10px;
    font-size: 2rem;
    margin: 1.4rem;
    color: #fff;
}