.news {
    margin: 0.8rem;
    display: flex;
    gap: 0px 12px;
}
.news_image {
    border-radius: 10px;

}
.news_image img{
    width: 100%;
}

.time_user {
    display: flex;
    align-items: center;
    justify-content:space-between ;
}

.profile {
    display: flex;
    align-items: center;
    margin: 0.3rem;
}
.profile img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: fill;
}

.username {
    font-weight: bold;
}

.time {
    font-size: 1.2rem;
}

.time::before {
    content: "|";
}

.title {
    font-weight: bolder;
    font-size: 2rem;
}

